body{
background-color:  white;

}


.up{

 background-color:ghostwhite ;
  border: 2px solid #12b6df;
border-radius: 10px;
}

.down{
  background-color: crimson;
  border:  2px solid crimson;
  border-radius: 10px;
}


 /* Estilos personalizados para el acordeón */
      .custom-collapse {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px;
      }

      /* Estilos para el botón del acordeón */
      .accordion-button {
        background-color: white;
        color: rgb(78, 81, 97);
        border-bottom: 1px solid #5e7e86;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      /* .accordion-button:hover { */
         /* background-color: #a2bee9; */ */
      /* } */

      .accordion-button::after {
        content: "▼"; /* Símbolo de flecha hacia abajo */
        font-size: 14px;
        transition: transform 0.3s ease;
      }

      .accordion-button[aria-expanded="true"]::after {
        transform: rotate(180deg); /* Rotar la flecha cuando está expandido */
      }


@media screen and (max-width: 2400px) {
  .marginform {
  margin-top: 20vh;
  margin-left: 30vw;
  margin-right: 30vw;
  width: 40vw;
}


.navSection{

  height: 80vh;
  width: 60vw;
  margin-top: 15vh;
  margin-left: 20vw;
  margin-right: 20vw;

  background-color: white;
  border-radius: 10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title{
padding-top: 8vh;
margin-bottom: 25vh;


}
.filesArea{

  margin-bottom: 10vh;
  
}

.btnFile{

  width: 20vw;
  height: 30vh;
}


.btnFile  i{

font-size: 10rem;
}
}





@media screen and (max-width: 520px) {
  .marginform {
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
  }

  .navSection{

  height: 80vh;
  width: 90vw;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;

  background-color: white;
  border-radius: 10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .title {
  
  
  margin-bottom: 4vh;}


  .btnFile{
    width: 100%;
    margin: auto;
  }

  .filesArea{
  
 padding: 10px;
}

.downloadBtn{

  margin-top: 10px;
}

}

