
@media screen and (max-width: 2400px) {
  .marginform {
  margin-top: 20vh;
  margin-left: 30vw;
  margin-right: 30vw;
  width: 40vw;
}

}





@media screen and (max-width: 520px) {
  .marginform {
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
  }
}



